@font-face {
  font-family: "TT Firs Neue Medium";
  src: local("TT Firs Neue Medium"), local("TT-Firs-Neue-Medium"),
    url("TTFirsNeue-Medium/TTFirsNeue-Medium.woff2") format("woff2"),
    url("TTFirsNeue-Medium/TTFirsNeue-Medium.woff") format("woff"),
    url("TTFirsNeue-Medium/TTFirsNeue-Medium.ttf") format("truetype");
  font-style: normal;
}

/*-------HEADER-------*/
  

body h2 {
  font-size: 40px;
  margin-bottom: 10px;

}

body h3 {
  font-size: 32px;
}

body h4 {
  font-size: 24px;
}

body h5 {
  font-size: 18px;
}

body h6 {
  font-size: 16px;
}
body {
  font-family: "TT Firs Neue Medium", sans-serif;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.header li,
.main__nav li {
  font-size: 14px;
}

.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-between;
  max-width: 1240px;
}

.header__nav-left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__nav-right li:not(:last-child) {
  margin-right: 70px;
}

.user__logo {
  padding-left: 10px;
}

.header ul,
.main__nav ul {
  display: flex;
}

.header__nav-left li:not(:last-child)::after {
  content: "|";
  padding-left: 20px;
  margin-right: 20px;
  color: #cbcbce;
}

.header__nav-right ul {
  display: flex;
  align-items: center;
}

.search__icon {
  display: flex;
  margin-left: auto;
  height: 14px;
}

header {
  border-bottom: 1px solid #cbcbce;
  margin-bottom: 16px;
}

.lom__wrapper {
  border: 1px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(to bottom right, #16ff00, #4dffc9);
  border-radius: 23px;
  padding: 8px 13px;
}

.authorization{
  display: flex;
}

/*-------------MAIN-NAVIGATION-------------*/

.main__nav{
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  margin-bottom: 16px;
}

.main__nav nav{
  display: flex;
}

.main__nav ul {
  align-items: center;
  gap: 42px;

}

/*------------MAIN-INVESTMENTS------------*/

.investments {
  max-width: 1400px;
  padding: 71px 80px 83px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(70deg, #6f6dca, #906dca);
  border-radius: 0 0 40px 40px;
  display: flex;
  color: #ffffff;
  position: relative;
  margin-bottom: 80px;
  overflow: hidden;
}

.investments__header {
  max-width: 660px;
}

.investments__pic {
  background: url("svg/inv.svg") no-repeat;
  position: absolute;
  width: 567px;
  height: 500px;
  bottom: 0;
  right: 0;
}


.investments__target {
  max-width: 755px;
  margin-bottom: 10px;
}

.investments__about {
  max-width: 612px;
  margin-bottom: 40px;
}

.credit__info {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
}

.credit__numbers {
  display: flex;
  align-items: baseline;
}

.summ__credit,
.loan__about,
.term__about {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.numbers {
  font-size: 70px;
}

.credit__links {
  display: flex;
  gap: 10px;
}

.credits__info{
  font-size: 24px;
}

.consultation__button,
.application__button {
  padding: 8px 21px;
  border-radius: 2px;
}

.application__button {
  background: linear-gradient(to bottom right, #16ff00, #4dffc9);
}

.consultation__button {
  background: #ffffff;
}

/*-------MAIN-LOAN---------*/

.all__loan {
  margin-bottom: 10px;
}

.preferential__loan{
  margin-bottom: 120px;
}
.container__flex {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: 60px;
}

.loan__description {
  margin-bottom: 20px;
}

.more__about__loan {
  max-width: 560px;
  width: 100%;
  margin-bottom: 31px;
  font-size: 18px;
}

.logos {
  display: flex;
  justify-content: space-between;
  max-width: 579px;
  width: 100%;

}

.msp__bank {
  max-width: 268px;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.msp__background {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #f8f8f8;
  display: flex;
}

.msk__gov{
  max-width: 271px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.msp__logo,
.msk__logo {
  margin: auto;
}




.loan,
.loan__program {
  max-width: 506px;
  position: relative;
}

.loan__program {
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.procent__pic {
  background: url("svg/procent.png") no-repeat;
  height: 156px;
  width: 151px;
  position: absolute;
  right: 0;
  top: -52px;
  z-index: 1;
}

.ellipse {
  position: absolute;
  top: -101px;
  right: -33px;
  max-width: 193px;
  width: 100%;
  height: 193px;
  border-radius: 100%;
  background-color: rgba(131, 110, 203, 0.8);
  filter: blur(30px);
}

.loan__program h4 {
  max-width: 266px;
}

.loan__about__procent {
  padding-top: 24px;
  width: 366px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.porcent__description__next {
  text-align: center;
}

.numbers__loan {
  font-size: 40px;
}

.number{
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 2px;
}

.loan__footer {
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  font-size: 32px;
  line-height: 120%;
  display: flex;
  flex-direction: column;

}
.loan__section {
  margin-bottom: 120px;
}
.loan__spending h3{
  margin-bottom: 30px;
}
.loan__spending__logos {

  display: flex;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  justify-content: space-between;
}

.loan__logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 360px;
  gap: 20px;
}

.first__list{
  max-width: 560px;
}

.msp__list{
  max-width: 550px;
}

.logos__description{
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

.circle {
  border-radius: 50px;
  max-width: 94px;
  width: 100%;
  height: 94px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  display: flex;
}

.logos__loan {
  width: 54px;
  margin: auto;
}


.header__info {
  line-height: 110%;
  margin-bottom: 40px;
}

.startup{
  margin-bottom: 120px;
}
.startup__background {
  border-radius: 60px;
  padding: 60px 80px 60px 80px;
  background: url("svg/loanpic.svg") no-repeat 244px -184.57px,
    linear-gradient(22deg, #6260b7 0%, #9379cf 100%);
  display: flex;
  flex-direction: column;
  color: #fff;
}

.startup__description {
  max-width: 755px;
  width: 100%;
  margin-bottom: 20px;
}

.description__info{
  max-width: 612px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 20px;
}

.startup__info {
  max-width: 612px;
  width: 100%;
  margin-bottom: 40px;
}

.startup__addition {
  max-width: 529px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;  
  line-height: 140%;

}

.startup__icon {
  display: flex;
  margin-right: 20px;
  border-radius: 110px;
  width: 80px;
  height: 80px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  flex: none;
}

.members {
  height: 54px;
  width: 54px;
  margin: auto;
}


.klaster__button {
  border-radius: 3px;
  padding: 8px 21px;
  background: linear-gradient(to bottom right, #16ff00, #4dffc9);
}

.more__startup {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}


.cards {
  display: flex;
  gap: 20px;
}

.first__card {
  max-width: 370px;
  width: 100%;
}

.big {
  max-width: 415px;
  width: 100%;
}
.small {
  max-width: 370px;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
}

.card__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 10px;
}

.small h4{
  margin-bottom: 20px;
}

.special {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #8d8f92;
}

.card__pic {
  width: 70px;
  margin-bottom: 60px;
}



.requirements{
  margin-bottom: 120px;
}

.requirements__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.requirements__cards h5 {
  line-height: 120%;
}

.requirements__card  {
  border-radius: 30px;
  padding: 30px;
  width: calc(100%/3 - 20px);
  box-shadow: 0 4px 20px 0 rgba(0, 46, 69, 0.1);
  margin-bottom: 20px;
}


.requirements__pics {
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
}
.selection{
  max-width: 1240px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.selection__header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

.stages{
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.selection__container{
  justify-content: space-between;
  display: flex;
}

.msc__klaster {
  border-radius: 60px;
  padding: 40px 50px 40px 40px;
  background: url("svg/klasterback.svg") no-repeat 425px -62.27px;
  background-color: #d8fddb;
  margin-bottom: 20px;
}

.msp__klaster {
  border-radius: 30px;
  background: url("svg/mspback.svg") no-repeat 374px -98px;
  background-color: #bee7ff;
  padding: 40px 50px 40px 40px;
}

.msc__pic {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #fff;
  display: flex;
}

.msc__header {
  margin-bottom: 156px;
  display: flex;
  align-items: center;
}

.msp__about h5{
  margin-bottom: 10px;
}


.msp__header {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
}

.list__item {
  border-radius: 20px;
  padding: 25px 30px;
  width: 100%;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  display: flex;
  align-items: center;
}


.list__item__checkmark {
  margin-right: 20px;
}

.list__container div:not(:last-child) {
  margin-bottom: 10px;
}

.klaster__logo {
  width: 60px;
  height: 37px;
  margin: auto;
}

.selection__number{
  font-size: 36px;
  border-radius: 50px;
  max-width: 60px;
  width: 100%;
  height: 60px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #16ff00;
  margin-right: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second__number{
  border: 1px solid #73b2d8;
}
.get__loan__description {
  margin-bottom: 60px;
}

.get__loan {
  display: flex;
  justify-content: space-between;
;
}



.get__loan__card {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
  position: relative;

}

.card__number {
  border-radius: 100%;
  background: #16ff00;
  width: 60px;
  height: 60px;
  display: flex;
  margin-bottom: 20px;

}


.get__loan__card::before {
  content: '';
  position: absolute;
  top: 31px;
  left: 0;
  right: -40px;
  border-top: 1px dotted black;
  z-index: -1;
}

.get__loan__card:last-child::before{
  content: none;
}


.loan__number{
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  margin: auto;
}
.loan__card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.questions {
  margin-bottom: 70px;
}

.questions__back {
  border-radius: 20px;
  background: #383B4A url("svg/questionsback.svg") no-repeat;
  padding: 40px 60px 50px 60px;
  color: #fff;
}

.question__header {
  margin-bottom: 40px;
}

.question__footer {
  display: flex;
}

.question__number {
  margin-right: 60px;
}

.gradient {
  position: relative;
  font-size: 40px;
  line-height: 110%;
  background: linear-gradient(90deg, #16ff00 0%, #4dffc9 100%, #4dffc9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.question__footer h6 {
  line-height: 120%;
  color: #fff;
  font-weight: 400;
  opacity: 0.5;
}

.container__footer {
  max-width: 1240px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  max-width: 222px;
  width: 100%;
}


.logo__footer {
  margin-bottom: 60px;
}

.number__footer{
  gap: 10px;
  margin-bottom: 12px;
}

.mail__footer{
  gap: 9px;
}

.number__footer,
.mail__footer {
  display: flex;
  align-items: center;
}



.social__icons {
  margin-bottom: 50px;
}

.footer__logo__mail {
  height: 18px;
  width: 18px;
}

.mail__footer {
  margin-bottom: 24px;
}

.contacts{
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #1c1d22;
}

.support__button {
  border-radius: 3px;
  padding: 8px 21px;
  box-shadow: 0 4px 20px 0 rgba(0, 46, 69, 0.1);
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #1c1d22;
}

.footer__block {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
}

.footer__block h5 {
  margin-bottom: 30px;
}

.footer__block a:not(:last-child) {
  margin-bottom: 20px;
}

.business__list{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #1c1d22;
}

.second__list{
  padding-top: 52px;
}

.footer__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;

}

.agreement {
  border-top: 1px solid #cbcbce;
  min-height: 73px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #a1a3a6;
  }

.business__block{
  display: flex;
  max-width: 515px;
  width: 100%;
  justify-content: space-between;
}


.msp__logos{
  display: flex;
  max-width: 180px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}



.corp__logo{
  margin: auto;
}

.right__logo{
  position: absolute;
  left: 92px;
  z-index: -1;
}

  .msc__back {
    margin-bottom: 10px;
  }

  .cards__header{
    margin-bottom: 10px;
  }

  .logo{
    background: url("svg/logo.svg") no-repeat;
    width: 179px;
    height: 40px;
    margin-right: 20px;
  }


/*----------------------------Adaptive tablet ----------------------------*/





@media screen and (min-width:768px) and (max-width:990px) {

   .logo{
    background: url("svg/logo.svg") no-repeat;
    width: 140px;
    height: 32px;
    margin-right: 6px;
    background-size: contain;
  }

  .container__flex{
    margin-bottom: 40px;
  }

  body h2{
    font-size: 30px;
  }

  body h3{
    font-size: 24px;
  }

  body h4{
    font-size: 16px;
  }
  
  .header{
    padding: 18.36px 32px;
    justify-content: normal;
  }

  .header__nav-right li:not(:last-child){
    margin-right: 103px;
  }

  .header li, .main__nav li{
    font-size:12px;
  }

  .user__text{
    display: none;
  }

  .user__logo{
    padding-left: 0;
  }

  .header__nav-left li:not(:last-child)::after{
    content: "|";
    padding-left: 10px;
    margin-right: 10px;
    color: #cbcbce;
  }

  .main__nav {
    padding: 0 32px;
    overflow-x: scroll;
    white-space: nowrap; 
  }

  .main__nav ul{
    gap: 20px;
    width: 95%;
    overflow: auto;
  }

  .investments {
    max-width: 990px;
    padding: 40px 76px 82px 32px;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(70deg, #6f6dca, #906dca);
    border-radius: 0 0 60px 60px;
    display: flex;
    color: #ffffff;
    position: relative;
    margin-bottom: 0;
}

  .investments__header{
    max-width: 550px;
  }

  .investments__about{
    max-width: 511px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }

  .credit__info{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .investments__description {
    z-index: 1;
  }

  .preferential__loan{
    padding: 40px 32px;
    margin-bottom: 40px;
  }

  .more__about__loan{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }

  .numbers{
    font-size: 40px;
  }

  .loan__program{
    border-radius: 30px;
    padding: 40px;
    width: 286px;
    height: 203px;
  }

  .logos__description{
    max-width: 132px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }

  .numbers__loan{
    font-size: 30px;
  }

  .logos {
    display: inline;
  }

  .msp__bank,
  .msk__gov{
    flex-direction: row;
    max-width: 389px;
    margin-bottom: 20px;
  }

  .loan__about__procent{
    width: 232px;
  }

  .msc__back {
    margin-right: 20px;
  }
  .loan__footer{
    padding: 40px 30px;
  }

  .loan__footer h3{
    margin-bottom: 30px;
  }

  .logos__description{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }

  .circle{
    width: 60px;
    height: 60px;
  }

  .logos__loan{
    width: 34px;
  }

  .loan__logos{
    gap: 16px;
  }

  .startup{
    padding: 40px 32px;
    margin-bottom: 40px;
  }

 .startup__background {
    padding: 40px 80px 60px 40px;
    border-radius: 30px;
    background: url("svg/loanpic.svg") no-repeat 250px -35px,
    linear-gradient(22deg, #6260b7 0%, #9379cf 100%);
    background-size: cover;
}

  .description__info{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }

  .startup__addition{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }

  .klaster__button{
    font-weight: 500;
    font-size: 14px;
  }

  .more__startup{
    padding: 40px 32px;
  }

  .header__info{
    margin-bottom: 30px;
  }

  .cards{
    flex-direction: column;
    gap: 10px;
  }

  .card{
    flex-direction: row;
  }

  .card__pic{
    margin-bottom: 0;
    margin-right: 20px;
    height: 70px;
  }

  .small,
  .big {
    max-width: 704px;
    width: 100%;
  }

  .cards__header{
    margin-bottom: 10px;
  }

  .card__description h4{
    font-size: 24px;
  }

  .more__startup{
    margin-bottom: 50px;
  }

  .requirements{
    padding: 40px 32px;
    margin-bottom: 40px;
  }

  .requirements__cards h5{
    font-size: 14px;
  }

  .requirements__card{
    border-radius: 20px;
    padding: 24px 20px;
    width: calc(100% / 3 - 16px);

  }

  .selection{
    padding: 40px 32px 0 32px;
    margin-bottom: 81px;
  }

  .selection__container{
    display: flex;
    flex-direction: column;
  }

  .msc__klaster{
    padding: 30px;
  }

  .msc__left{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .msc__pic{
    height: 61px;
    max-width: 61px;
    width: 100%;
  }

  .msc__header{
    margin-bottom: 20px;
  }

  .klaster__logo{
    width: 37px;
    height: 23px;
  }

  .selection__container{
    align-items: normal;
  }

  .msp__header{
    margin-bottom: 20px;
  }


  .selection__header h2{
    font-size: 24px;
  }

  .selection__header{
    align-items: center;
  }

  .stages{
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
  }

  .loan__section{
    padding: 40px 32px 0 32px;

  }

  .get__loan__info{
    display: flex;
  }

  .get__loan__info h4 {
    max-width: 180px;
  }
  .get__loan{
    flex-direction: column;
    gap: 34px;
  }

  .get__loan__card{
    max-width: 100%;
    flex-direction: row;
  }

  .card__number{
    max-width: 40px;
    width: 100%;
    height: 40px;
    margin-right: 20px;
  }

  .loan__card__description{
    max-width: 457px;
    width: 100%;
  }

  .loan__section{
    margin-bottom: 40px;
  }

  .questions{
    padding: 40px 32px 0 32px;
  }

  .question__footer{
    flex-direction: column;
  }

  .question__number{
    margin-bottom: 20px;
  }

  .gradient{
    font-size: 30px;
  }

  .business__block{
    display: flex;
    flex-direction: column;
    max-width: 224px;
  }

  .footer__block h5{
    margin-bottom: 20px;
  }

  .second__list{
    padding-top:0;
  }

  .footer__block a:not(:last-child){
    margin-bottom: 17px;
  } 

  .business__list {
    margin-bottom: 17px;
  } 

  .footer__cards{
    padding: 41px 32px 0px 32px;
  }

  .agreement{
    padding-left: 16px;
  }

  .get__loan__card::before {
    content: '';
    position: absolute;
    top: 31px;
    left: 20px;
    bottom: -40px;
    right: auto;
    border-right: 1px dotted black;
    z-index: -1;
  }

  .investments__pic {
    background-size: contain;
    width: 607px;
    height: 665px;
    bottom: -200px;
    right: -136px;
  }

  .loan{
    max-width: 286px;
  }

  .procent__pic {
    background: url("svg/procent.png") no-repeat;
    height: 85px;
    width: 82px;
    background-size: contain;
    right: 12px;
    top: -30px;
  }

  .loan__program h4{
    max-width: 194px;
  }

  .ellipse {
    top: -111px;
    right: -96.5px;
  }

  .list__item{
    max-width: 100%;
  }

  .right__logo{
  position: absolute;
  z-index: -1;
  }

  .footer__cards{
    margin-bottom: 60px;
  }

  .msp__logos{
    margin-right: 20px;
    margin-bottom: 0;
  }

  .msp__bank, .msk__gov{
    align-items: center;
  }

  .small, .big{
    max-width: 100%;
  }

  .loan__number{
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
  }


}

@media screen and (min-width:320px) and (max-width:767px){
  
  .slick-dots{
    gap: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
  }

  .slick-dots li{
    list-style: none;
  }

  .slick-dots button{
    font-size: 0;
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
  }

.slick-slider .slick-dots  li.slick-active button {
    width: 10px;
    height: 10px;
    background-color: #17FF01;
  }

  .requirements{
    margin-bottom: 50px;
  }

  body h2{
    font-size: 20px;
  }

  body h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
  }

  header{
    margin-bottom: 0;
  }

  .header {
    padding: 8px 20px;
  }

  .main__nav{
    display: none;
  }

  .investments{
    padding: 40px 20px;
    margin-bottom: 0;
  }

  .investments__about{
    font-size: 14px;
    max-width: 281px;
  }

  .credit__info{
    flex-direction: column;
    gap: 20px;
  }

  .investments__description{
    z-index: 1;
  }

  .investments__pic {
      background: url("svg/inv.svg") no-repeat;
      position: absolute;
      background-size: contain;
      width: 259px;
      height: 279px;
      bottom: 32px;
      right: -96px;
  }

  .investments__header{
    max-width: 282px;
  }

  .credit__links{
    flex-direction: column;
  }

  .numbers{
    font-size: 30px;
  }

  .logo{
    background: url("svg/klasterlogo.svg") no-repeat;
    width: 34px;
    height: 22px;
    background-size: contain;
  }

  .header__nav-right::after{
    content: attr(href);
    background: url("svg/headermenu.svg") no-repeat;
    margin-left: 10px;
    width: 16px;
    height: 12px;
  }

  .header__nav-left ul {
    display: none;
  }

  .header__nav-right li:not(:last-child){
    display: none;
  }

  .user__text{
    display: none;
  }

  .user__logo{
    padding-left: 0;
    width: 19px;
    height: 17px;
  }

  .header__nav-right{
    display: flex;
    align-items: center;
  }

  .preferential__loan{
    padding: 40px 20px 0 20px;
  }

  .more__about__loan{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  .logos{
    display: inline;
  }

  .msp__logo{
    width: 30.5px;
  }

  .corp__logo{
    width: 23px;
  }
  .right__logo{
    left: 0;
    top: 39px;
  }
  .msp__bank{
    flex-direction: row;
    margin-bottom: 20px;
    min-height: 85px;
  }

  .msp__logos{
    display: inline;
    position: relative;
    max-width: 46px;
    margin-bottom: 0;
  }

  .msp__background{
    height: 42px;
    width: 42px;
  }

  .logos__description{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  .msk__gov{
    flex-direction: row;
  }

  .msk__logo{
    width: 19.78px;
  }

  .all__loan{
    margin-bottom: 40px;
  }

  .loan__program{
    padding: 30px 41px 32px 20px;
  }

  .loan__about__procent{
    padding-top: 0;
    max-width: 219px;
  }

  .loan {
    margin-bottom: 20px;
  }


  .loan__program h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    margin-bottom: 20px;
  }

  .procent__pic{
    width: 102px;
    height: 107px;
    background-size: contain;
  }

  .loan__footer{
    padding: 30px 20px;
  }

  .loan__footer h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 20px;
  }

  .loan__spending__logos{
    flex-direction: column;
    gap: 16px;
  }

  .circle{
    max-width: 60px;
    height: 60px;
  }

  .logos__loan{
    width: 34.47px;
  }

  .preferential__loan{
    margin-bottom: 30px;
  }

  .loan__logos{
    justify-content: flex-start;
  }

  .startup{
    padding: 30px 20px 0 20px;
    margin-bottom: 30px;
  }

  .startup__background{
    padding: 30px 20px 40px 20px;
     border-radius: 30px;
  }

  .startup__description{

    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
  }

  .header__info{
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .description__info{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 30px;
  }

  .startup__icon{
    width: 60px;
    height: 60px  ;
  }

  .members{
    width: 42px;
    height: 42px;
  }

  .startup__addition{
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    align-items: normal;
    margin-bottom: 208px;
  }

  .klaster__button{
    width: 100%;
  }

  .more__startup{
    padding: 30px 20px 0 20px;
    margin-bottom: 46px;
  }

  .cards{
    flex-direction: column;
  }

  .card{
    padding: 24px 20px;
  }

  .card__pic{
    width: 52px;
    margin-bottom: 16px;
  }

  .cards__header{
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }

  .small h4{
    margin-bottom: 16px;
  }

  .special{
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
  }

  .selection{
    padding-top: 20px;
  }

  .selection__header{
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .lom__wrapper {
    border: 1px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to bottom right, #16ff00, #4dffc9);
    border-radius: 70px;
    padding: 6px 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
  }

  .msc__klaster{
    padding: 30px 20px 20px 20px;
    border-radius: 30px;
    flex-direction: column;
  }

  .header__text {
    max-width: 229px;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
  }

  .selection__number{
    width: 43px;
    height: 43px;
  }

  .msc__header,
  .msp__header{
    margin-bottom: 20px;
  }

  .msc__pic {
    display: none;
  }

  .list__item{
    width: 100%;
    max-width: 767px;
    padding: 20px;
  }

  .msp__klaster{
    flex-direction: column;
    padding: 30px 20px 20px 20px;
    align-items: flex-start;
  }

  .msp__header h4{
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
  }

  .selection{
    margin-bottom: 20px;
  }

  .loan__section{
    padding: 30px 20px 0 20px;
    margin-bottom: 30px;
  }

  .get__loan{
    flex-direction: column;
    gap: 16px;
  }

  .get__loan__card{
    flex-direction: row;
  }

  .get__loan__info h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 4px;
  }

  .card__number{
    max-width: 30px;
    width: 100%;
    height: 30px;  
    margin-right: 16px;
  }

  .loan__card__description{
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
  }

  .get__loan__description{
    margin-bottom: 20px;
  }


  .get__loan__card::before {
    content: '';
    position: absolute;
    top: 31px;
    left: 15px;
    bottom: -40px;
    right: auto;
    border-right: 1px dotted black;
    z-index: -1;
  }

  .loan__number{
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
  }

  .questions__back{
    padding: 30px 20px 40px 20px;
  }

  .question__footer{
    flex-direction: column;
  }

  .gradient{
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
  }

  .question__header{
    margin-bottom: 30px;
  }

  .question__number h6,
  .question__mail h6{
    margin-bottom: 2px;
  }

  .question__number div {
    margin-bottom: 10px;
  }

  .questions{
    margin-bottom: 60px;
  }

  .business__block,
  .footer__block{
    display: none;
  }


  .footer__cards{
    justify-content: center;
  }

  .footer__contacts{
    align-items: center;
  }

  .support__button{
    width: 280px;
  }

  .social__icons{
    display: flex;
    gap: 9px;
    margin-bottom: 20px;
  }

  .logo__footer{
    margin-bottom: 30px;
  }

  .footer__cards{
    margin-bottom: 40px;
  }

  .agreement{
    padding: 11px 19.5px 14px 19.5px;
  }

  .slick-track{
    display: flex;
  }

  .requirements__cards{
    min-width: 0;
  }

  .slick-list{
    overflow: hidden;
  }

  .container__flex{
    flex-direction: column;
    align-items: center;
  }

  .msp__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .msc__back{
    margin-bottom: 0px;
  }

  .msp__bank,
  .msk__gov{
    gap: 16px;
  }

}

@media screen and (min-width: 991px) and (max-width:1024px) {
  .header{
    padding: 15px;
  }

  .main__nav{
    padding: 0 15px;
    white-space: nowrap;
    overflow-x: scroll;
  }

  .main__nav ul {
    max-width: 1200px;
    width: 100%;
    overflow: auto;
  }

  .main__nav nav{
    gap: 15px;
  }

  .investments{
    padding: 50px;
  }

  .credit__info{
    flex-direction: column;
    gap: 20px;
  }

  .investments__pic {
    background: url("svg/inv.svg") no-repeat;
    position: absolute;
    width: 567px;
    height: 500px;
    bottom: 0;
    right: -140px;
  }

  .preferential__loan{
    padding: 15px;
  }

  .loan{
    max-width: 370px;
  }

  .loan__program{
    padding: 20px;
  }

  .loan__about__procent{
    padding-top: 0;
    flex-direction: column;
    gap: 20px;
  }

  .loan__program h4 {
    margin-bottom: 20px;
    font-size: 18px;
    max-width: 200px;
  }

  .number,
  .logos__description{
    font-size: 16px;
  }

  .numbers__loan{
    font-size: 30px;
    margin-bottom: 5px;
  }

  .procent__pic{
    background-size: contain;
    width: 120px;
    height: 120px;
  }

  .preferential__loan{
    margin-bottom: 60px;
  }

  .startup{
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .header__info{
    font-size: 32px;
  }

  .startup__background{
    padding: 50px;
  }

  .startup__description{
    font-size: 30px;
  }

  .more__startup{
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .requirements{
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .selection{
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .selection__header h2{
    font-size: 30px;
  }

  .selection__header {
    align-items: center;
  }

  .list__item h5 {
    font-size: 16px;
  }

  .header__text{
    font-size: 20px;
  }

  .msp__header h4{
    font-size: 20px;
  }

  .msp__header{
    width: 300px;
  }

  .loan__section{
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .get__loan{
    gap: 20px;
  }

  .questions{
    padding: 0 15px;
  }

  .gradient{
    font-size: 30px;
  }

  .get__loan__info h4{
    margin-bottom: 10px;
  }

  .footer{
    padding: 0 15px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1240px) {
  .header{
    padding: 20px;
  }

  .main__nav{
    gap: 10px;
    padding: 0 20px;
    white-space: nowrap;
  }

  .main__nav ul{
    overflow-x: scroll;
  }

  .investments{
    padding: 50px;
  }

  .main__nav nav {
    gap: 10px;
    align-items: center;
  }

  .search__icon{
    width: 16px;
  }

  .investments__pic{
    width: 428px;
  }

  .credit__info{
    flex-direction: column;
    gap: 20px;
  }

  .loan__program {
    max-width: 400px;
  }

  .all__loan{
    margin-right: 20px;
  }

  .logos{
    gap: 20px;
  }

  .startup{
    padding: 0 20px;
  }

  .loan__about__procent{
    width: 350px;
  }

  .procent__pic {
    background: url("svg/procent.png") no-repeat;
    height: 121px;
    width: 121px;
    background-size: contain;
  }

  .selection{
    margin-bottom: 60px;
  }

  .more__startup,
  .requirements,
  .selection,
  .preferential__loan,
  .loan__section,
  .questions,
  .footer{
    padding: 0 20px;
  }

  .get__loan{
    gap: 20px;
  }
}
