@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue Medium"), local("TT-Firs-Neue-Medium"),
    url("TTFirsNeue-Medium/TTFirsNeue-Medium.woff2") format("woff2"),
    url("TTFirsNeue-Medium/TTFirsNeue-Medium.woff") format("woff"),
    url("TTFirsNeue-Medium/TTFirsNeue-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue Regular'), local('TT-Firs-Neue-Regular'),
        url('TTFirsNeue-Regular/TTFirsNeue-Regular.woff2') format('woff2'),
        url('TTFirsNeue-Regular/TTFirsNeue-Regular.woff') format('woff'),
        url('TTFirsNeue-Regular/TTFirsNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue Demi Bold'), local('TT-Firs-Neue-Demi-Bold'),
        url('TTFirsNeue-DemiBold/TTFirsNeue-DemiBold.woff2') format('woff2'),
        url('TTFirsNeue-DemiBold/TTFirsNeue-DemiBold.woff') format('woff'),
        url('TTFirsNeue-DemiBold/TTFirsNeue-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}




/*-------HEADER-------*/


.header__text{
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  width: 350px;
}

.mobile__menu{
  display: none;
}

.plus{
  position: absolute;
  top: -32px;
  left: -32px;
}

.selection__header h2{
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
}

span {
  display: block;
}

.tablet {
  display: inline;
} 

.mobile {
  display: inline;
}

.lg {
  display: inline;
}

.landscape{
  display: inline;
}

.loan__footer h3{

  margin-bottom: 28px;
}

body h2 {
  font-size: 40px;
  margin-bottom: 10px;

}

body h3 {
  font-size: 32px;
}

body h4 {
  font-size: 24px;
}

body h5 {
  font-size: 18px;
}

body h6 {
  font-size: 16px;
}
body {
  font-family: "TT Firs Neue", sans-serif;
}

.container {
  position: relative;
  max-width: 1240px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.header li {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}

.main__nav li{
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
  max-width: 1440px;
}

.header__nav-left ul{
  padding-top: 3px;
}

.header__nav-left {
  display: flex;
  align-items: center;
  margin-right: auto;
  color: #A1A3A6;
  padding-left: 5px;
}

.divider::after{
  content: "|";
  padding-left: 17px;
  margin-right: 17px;
  color: #cbcbce;
}

.main__nav__item {
  position: relative;
}

.main__nav__item.active{
  color: red;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.menu__item {
  position: relative;
}

.menu__item.active{
  color: black;
}

.header__nav-right{
  padding-right: 5px;
}

.klaster{
  padding-top: 4px;
}



.menu__item.active::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: calc(100%/2 - 11px);
    width: 15%;
    height: 2px;
    background: linear-gradient(90deg, #16ff00 0%, #4dffc9 100%, #4dffc9 100%);
    display: block;
}

.header__nav-right ul {
    gap: 60px;
}

.user__logo {
  padding-left: 10px;
}

.header ul,
.main__nav ul {
  display: flex;
}


.header__nav-right ul {
  display: flex;
  align-items: center;
}

.search__icon {
  display: flex;
  margin-left: auto;
  height: 14px;
}

header {
  border-bottom: 1px solid #cbcbce;
}

.lom__wrapper {
  border: 1px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(to bottom right, #16ff00, #4dffc9);
  border-radius: 70px;
  padding: 8px 13px;
}

.selection__header h2 {
  margin-bottom: 0;
}

.authorization{
  display: flex;
}

/*-------------MAIN-NAVIGATION-------------*/

.main__nav{
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 100px;
}

.main__nav nav{
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.main__nav ul {
  align-items: center;
  gap: 42px;

}

/*------------MAIN-INVESTMENTS------------*/

.investments {
  max-width: 1400px;
  padding: 71px 80px 83px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(70deg, #6f6dca, #906dca);
  border-radius: 0 0 77px 77px;
  display: flex;
  color: #ffffff;
  position: relative;
  margin-bottom: 82px;
  overflow: hidden;
}

.loan__procent {
    margin-right: 26px;
}

.loan__logos__first{
  display: flex;
  align-items: center;
  gap: 20px;
}

.investments__header {
  max-width: 660px;
  font-weight: 500; 
  line-height: 110%;
}

.investments__pic {
  background: url("svg/inv.svg") no-repeat;
  position: absolute;
  width: 550px;
  height: 500px;
  bottom: 0;
  right: 0;
}


.investments__target {
  max-width: 755px;
  margin-bottom: 10px;
}

.investments__about {
  max-width: 612px;
  margin-bottom: 37px;
  line-height: 140%;
}

.credit__info {
  display: flex;
  gap: 56px;
  margin-bottom: 40px;

}

.credit__numbers {
  display: flex;
  align-items: baseline;
}

.summ__credit,
.loan__about,
.term__about {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.numbers {
  font-weight: 600;
    font-size: 70px;
    line-height: 100%;
}

.summ__credit h5,
.loan__about h5,
.term__about h5{
  margin-bottom: 18px;
}


.credit__links {
  display: flex;
  gap: 8px;
}

.credits__info{
  font-size: 24px;
}

.consultation__button,
.application__button {
  padding: 8px 21px;
  border-radius: 2px;
}

.application__button {
  background: linear-gradient(to bottom right, #16ff00, #4dffc9);
}

.consultation__button {
  background: #ffffff;
}

/*-------MAIN-LOAN---------*/

.all__loan {
  margin-bottom: 10px;
}

.preferential__loan{
  margin-bottom: 120px;
}
.container__flex {
  position: relative;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: 60px;
}

.loan__description {
  line-height: 110%;
  width: 818px;
  margin-bottom: 20px;
}

.more__about__loan {
  max-width: 638px;
  width: 100%;
  margin-bottom: 48px;
  font-size: 18px;
}

.logos {
  display: flex;
  justify-content: space-between;
  max-width: 628px;
  width: 100%;

}

.msp__bank {
  max-width: 268px;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.msp__background {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #f8f8f8;
  display: flex;
}

.msk__gov{
  max-width: 271px;
  width: 100%;
  display: flex;
  flex-direction: column;
}



.msp__logo,
.msk__logo {
  margin: auto;
}




.loan,
.loan__program {
  width: 100%;
  max-width: 506px;
  position: relative;
}

.requirements__card__header{
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 8px;
}

.loan__program {
  top: -226px;
  right: 0;
  width: 506px;
  position: absolute;
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.procent__pic {
  background: url("svg/procent.png") no-repeat;
  height: 156px;
  width: 151px;
  position: absolute;
  right: 18px;
  top: -285px;
  z-index: 1;
}

.ellipse {
  position: absolute;
  top: -101px;
  right: -33px;
  max-width: 193px;
  width: 100%;
  height: 193px;
  border-radius: 100%;
  background-color: rgba(131, 110, 203, 0.8);
  filter: blur(30px);
}

.loan__program h4 {
  max-width: 266px;
  margin-bottom: 26px;
}

.loan__about__procent {
  width: 366px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.porcent__description__next {
  text-align: center;
}

.numbers__loan {
  font-size: 40px;
}

.number{
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 5px;
}

.loan__footer {
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  font-size: 32px;
  line-height: 120%;
  display: flex;
  flex-direction: column;

}
.loan__section {
  margin-bottom: 117px;
}
.loan__spending h3{
  margin-bottom: 30px;
}
.loan__spending__logos {

  display: flex;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  gap: 21px;
}

.loan__logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-right: 62px;
}

.last__circle{
  margin-right: 20px;
}

.first__list{
  max-width: 560px;
}

.msp__list{
  max-width: 550px;
}

.msp__description{
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

.logos__description{
  width: 251px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

.circle {
  border-radius: 50px;
  width: 94px;
  height: 94px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  display: flex;
}

.logos__loan {
  width: 54px;
  margin: auto;
}


.header__info {
  line-height: 110%;
  margin-bottom: 40px;
}

.startup{
  margin-bottom: 123px;
}


.startup__background {
    border-radius: 60px;
    padding: 60px 80px 60px 60px;
    background: url("svg/loanpic.svg") no-repeat 209px -216.57px,
  linear-gradient(22deg, #6260b7 0%, #9379cf 100%);
    display: flex;
    flex-direction: column;
    color: #fff;
}

.startup__description {
  max-width: 755px;
  width: 100%;
  margin-bottom: 20px;
  line-height: 120%;
}

.description__info{
  max-width: 612px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 40px;
}

.startup__info {
  max-width: 612px;
  width: 100%;
  margin-bottom: 40px;
}

.startup__addition {
  max-width: 529px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;  
  line-height: 140%;

}

.startup__icon {
  display: flex;
  margin-right: 20px;
  border-radius: 110px;
  width: 80px;
  height: 80px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  flex: none;
}

.members {
  height: 54px;
  width: 54px;
  margin: auto;
}


.klaster__button {
  border-radius: 3px;
  padding: 8px 21px;
  background: linear-gradient(to bottom right, #16ff00, #4dffc9);
}

.more__startup {
  display: flex;
  flex-direction: column;
  margin-bottom: 110px;
}


.cards {
  display: flex;
  gap: 20px;
}

.first__card {
  max-width: 370px;
  width: 100%;
}

.big {
  max-width: 415px;
  width: 100%;
}
.small {
  max-width: 370px;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
}

.card__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 10px;
}

.small h4{
  margin-bottom: 25px;
}

.special {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #8d8f92;
}

.card__pic {
  width: 70px;
  margin-bottom: 60px;
}



.requirements{
  margin-bottom: 142px;
}

.msk__right{
  padding-top: 22px;
}

.requirements__cards {
  display: flex;
  gap: 21px;
  flex-wrap: wrap;
}

.status{
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.requirements__cards h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}



.requirements__card  {
  border-radius: 30px;
  padding: 30px;
  width: calc(100%/3 - 15px);
  box-shadow: 0 4px 20px 0 rgba(0, 46, 69, 0.1);
}

.third__floor{
  padding-top: 32px;
  margin-bottom: 0px;
}


.second__floor{
  padding: 28px 30px 8px 30px;
}


.requirements__pics {
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
}
.selection{
  position: relative;
  max-width: 1240px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 120px;
}

.selection__header {
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

.stages{
  padding: 14px 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.selection__container{
  justify-content: space-between;
  display: flex;
}

.msc__klaster {
    border-radius: 60px;
    padding: 40px 50px 60px 40px;
    background: url("svg/klasterback.svg") no-repeat 426px -67.27px;
    background-color: #d8fddb;
    margin-bottom: 20px;
}



.msp__klaster {
  border-radius: 30px;
  background: url("svg/mspback.svg") no-repeat 374px -98px;
  background-size: cover;
  background-color: #bee7ff;
  padding: 40px 60px 40px 40px;
}

.msc__pic {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #fff;
  display: flex;
}

.msc__header {
  margin-bottom: 156px;
  display: flex;
  align-items: center;
}

.msp__about h5{
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 10px;
}

.msc__about h5{
  margin-bottom: 11px;
}

.loan__logos__last {
  display: flex;
  align-items: center;
}

.msp__about{
  padding-top: 2px;
}

.msp__header {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
}

.list__item {
  border-radius: 20px;
  padding: 24px 30px;
  width: 100%;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  display: flex;
  align-items: center;
}


.list__item__checkmark {
  margin-right: 20px;
}

.list__container div:not(:last-child) {
  margin-bottom: 10px;
}

.klaster__logo {
  width: 60px;
  height: 37px;
  margin: auto;
}

.selection__number{
  font-size: 36px;
  border-radius: 50px;
  max-width: 60px;
  width: 100%;
  height: 60px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #16ff00;
  margin-right: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second__number{
  border: 1px solid #73b2d8;
}
.get__loan__description {
  margin-bottom: 53px;
}

.get__loan {
  display: flex;
  justify-content: space-between;
;
}


.get__loan__info h4{
  line-height: 120%;
  margin-bottom: 12px;
}



.get__loan__card {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
  position: relative;

}

.card__number {
  border-radius: 100%;
  background: #16ff00;
  width: 60px;
  height: 60px;
  display: flex;
  margin-bottom: 19px;

}


.get__loan__card::before {
  content: '';
  position: absolute;
  top: 31px;
  left: 0;
  right: -40px;
  border-top: 1px dotted black;
  z-index: -1;
}

.get__loan__card:last-child::before{
  content: none;
}


.loan__number{
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  margin: auto;
}
.loan__card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.questions {
  margin-bottom: 170px;
}

.questions__back {
  border-radius: 20px;
  background: #383B4A url("svg/questionsback.svg") no-repeat right -250px bottom;
  padding: 45px 60px 50px 60px;
  color: #fff;
  background-size: cover;
}

.question__header {
  margin-bottom: 40px;
}

.question__header h2 {
  margin-bottom: 6px;
}

.question__footer {
  display: flex;
}

.question__number {
  margin-right: 64px;
}

.gradient {
  position: relative;
  font-size: 40px;
  line-height: 110%;
  background: linear-gradient(90deg, #16ff00 0%, #4dffc9 100%, #4dffc9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.question__footer h6 {
  line-height: 120%;
  color: #fff;
  font-weight: 400;
  opacity: 0.5;
}

.container__footer {
  max-width: 1240px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.footer__contacts {
  margin-right: 188px;
  display: flex;
  flex-direction: column;
  max-width: 222px;
  width: 100%;
}


.logo__footer {
  margin-bottom: 60px;
  height: 47px;
}

.number__footer{
  gap: 10px;
  margin-bottom: 14px;
}

.mail__footer{
  gap: 9px;
}

.number__footer,
.mail__footer {
  display: flex;
  align-items: center;
}




.social__icons {
  display: flex;
  gap: 9px;
  margin-bottom: 52px;
}

.footer__logo__mail {
  height: 18px;
  width: 18px;
}

.mail__footer {
  margin-bottom: 24px;
}

.contacts{
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #1c1d22;
}

.support__button {
  border-radius: 3px;
  padding: 8px 21px;
  box-shadow: 0 4px 20px 0 rgba(0, 46, 69, 0.1);
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #1c1d22;
}

.footer__block {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
}

.footer__block h5 {
  margin-bottom: 30px;
}

.footer__block a:not(:last-child) {
  margin-bottom: 20px;
}

.business__list{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #1c1d22;
}

.second__list{
  padding-top: 54px;
}

.footer__cards {
  display: flex;
  margin-bottom: 86px;

}

.agreement {
  border-top: 1px solid #cbcbce;
  min-height: 73px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #a1a3a6;
  }

.business__block{
  margin-right: 124px;
  display: flex;
  gap: 122px;
}


.msp__logos{
  display: flex;
  max-width: 180px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}



.corp__logo{
  margin: auto;
}

.right__logo{
  position: absolute;
  left: 92px;
  z-index: -1;
}

  .msc__back {
    margin-bottom: 10px;f§
  }

  .cards__header{
    margin-bottom: 15px;
  }

  .logo{
    background: url("svg/logo.svg") no-repeat;
    width: 179px;
    height: 40px;
    margin-right: 20px;
  }


/*----------------------------Adaptive tablet ----------------------------*/





@media screen and (min-width:768px) and (max-width:990px) {





  .application__button{
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }

  .klaster {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
  }

  .header__nav-left{
    padding-left: 16px;
    margin-right: 19px;
  }

  .header__nav-right ul{
    gap: 122px  ;
  }

  .lom__wrapper {
    border: 1px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(to bottom right, #16ff00, #4dffc9);
    border-radius: 23px;
    padding: 2px 9px;
}

  .divider::after {
    content: "|";
    padding-left: 9px;
    margin-right: 8px;
    color: #cbcbce;
}

  .plus{
    display: none;
  }

  .loan__description {
  margin-bottom: 20px;
  width: 90vw;
  }


  span{
    display: inline;
  }

  .tablet {
    display: block;
  }

   .logo{
    background: url("svg/logo.svg") no-repeat;
    width: 140px;
    height: 32px;
    margin-right: 6px;
    background-size: contain;
  }

  .container__flex{
    margin-bottom: 40px;
    position: relative;
  }

  body h2{
    font-size: 30px;
  }

  body h3{
    font-size: 24px;
  }

  body h4{
    font-size: 16px;
  }
  
  .header{
    padding: 18px 20px;
    justify-content: normal;
  }



  .header li, .main__nav li{
    font-size:12px;
  }

  .user__text{
    display: none;
  }

  .user__logo{
    padding-left: 0;
  }

  .main__nav nav{
    padding-left: 4px;
  }

  .main__nav {
    padding: 15px 32px 18px 32px;
    overflow-x: scroll;
    white-space: nowrap; 
  }

  .main__nav ul{
    gap: 20px;
    width: 95%;
    overflow: auto;
  }

  .investments {
    max-width: 990px;
    padding: 40px 76px 101px 36px;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(70deg, #6f6dca, #906dca);
    border-radius: 0 0 60px 60px;
    display: flex;
    color: #ffffff;
    position: relative;
    margin-bottom: 0;
  }

  .credit__info h5 {
    font-size: 16px;
    margin-bottom: 7px;
  }

  .investments__header{
    max-width: 550px;
  }

  .investments__about{
    max-width: 511px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 38px ;
  }

  .credit__info{
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 39px;
  }

  .consultation__button{
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }

  .investments__description {
    z-index: 1;
  }

  .preferential__loan{
    padding: 41px 32px 0 36px;
    margin-bottom: 45px;
  }

  .more__about__loan{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 40px;
  }

  .startup__description{
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
  }

  .numbers{
    font-size: 40px;
  }

  .loan__program {
    border-radius: 30px;
    padding: 30px 40px 40px 30px;
    width: 286px;
    height: 203px;
    top: -203px;
    right: -4px;
  }

  .number{
    margin-bottom: 2px;
  }

  .numbers__loan{
    font-size: 30px;
  }

  .logos {
    display: inline;
  }

  .msp__bank,
  .msk__gov{
    flex-direction: row;
    max-width: 389px;
  }

  .loan__about__procent{
    width: 232px;
    gap: 31px;
    justify-content: normal;
  }

  .msc__back {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .all__loan{
    margin-bottom: 0;
  }

  .loan__footer{
    padding: 35px 30px;
  }

  .loan__footer h3{
    margin-bottom: 24px;
  }

  .logos__description{
    width: 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }

  .circle{
    min-width: 60px;
    height: 60px;
  }

  .logos__loan{
    width: 34px;
  }

  .loan__logos__last{
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .loan__logos{
    gap: 15px;
    margin-right: 3px;
  }

  .last__circle{
    margin-right: 0;
  }

  .loan__logos__first{
    display: flex;
    gap: 15px;
    align-items: center;
  } 


  .loan__spending__logos{
    gap: 8px;
  }

  .startup{
    padding: 40px 32px 0 36px;
    margin-bottom: 40px;
  }

.startup__background {
    padding: 39px 80px 60px 40px;
    border-radius: 30px;
    background: url("svg/loanpic.svg") no-repeat right -393px  bottom -586px,
    linear-gradient(22deg, #6260b7 0%, #9379CF 100%);
    background-size: 1020px 1210px;
}

  .description__info{
    width: 514px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 38px;
  }

  .startup__addition{
    max-width: 425px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }

  .klaster__button{
    font-weight: 500;
    font-size: 14px;
  }

  .more__startup{
    padding: 40px 32px 0 36px;
    margin-bottom: 46px;
  }

  .status{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }

  .header__info{
    margin-bottom: 30px;
  }

  .cards{
    flex-direction: column;
    gap: 10px;
  }

  .card{
    flex-direction: row;
  }

  .card__pic{
    margin-bottom: 0;
    margin-right: 20px;
    height: 70px;
  }

  .small,
  .big {
    max-width: 704px;
    width: 100%;
  }

  .cards__header{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
  }

  .small{
    padding: 30px 30px 19px 30px;
  }

  .card__description h4{
    font-size: 24px;
  }


  .requirements{
    padding: 38px 30px 30px 35px;
    margin-bottom: 0px;
  }

  .requirements__cards h5{
    font-size: 14px;
    font-weight: 400;  
  }

  .requirements__cards{
    gap: 16px;
  }

  .requirements__card{
    border-radius: 20px;
    padding: 23px 20px 24px 21px;
    width: calc(100% / 3 - 11px);
  }

  .second__floor {
    padding: 27px 20px 24px 21px;
    line-height: 123%;
  }

  .third__floor{
    padding: 27px 20px 34px 21px;
  }

  .selection{
    padding: 51px 32px 0 36px;
    margin-bottom: 81px;
  }

  .selection__container{
    display: flex;
    flex-direction: column;
  }

 .msc__klaster {
    padding: 30px 27px 35px 30px;
    border-radius: 22px;
    background: url("svg/klasterback.svg") no-repeat right -200px bottom;
    background-color: #d8fddb;
    background-size: cover;
}

  .msp__klaster {
    background: url("svg/mspback.svg") no-repeat right -370px bottom 0px;
    background-size: cover;
    background-color: #bee7ff;
    border-radius: 27px;
    padding: 30px 27px 35px 30px;
  }

  .msp__logo{
    width: 60.5px;
  }

  .msc__left{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .msc__pic{
    height: 61px;
    max-width: 61px;
    width: 100%;
  }

  .msc__header{
    margin-bottom: 0px;
  }

  .klaster__logo{
    width: 37px;
    height: 23px;
  }

  .selection__container{
    align-items: normal;
  }

  .msp__header{
    margin-bottom: 20px;
  }


  .selection__header h2{
    font-size: 24px;
  }

  .selection__header{
    align-items: center;
    margin-bottom: 29px;
  }

  .stages{
    padding: 14px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
  }

  .loan__section{
    padding: 38px 32px 0 36px;
    margin-bottom: 22px;
  }

  .get__loan__description{
    margin-bottom: 27px;
  }

  .header__text{
    width: 522px;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
  }

  .get__loan__info{
    display: flex;
    gap: 6px;
  }


  .get__loan__info h4 {
    max-width: 174px;
    width: 100%;
  }


  .get__loan{
    flex-direction: column;
    gap: 33px;
  }

  .get__loan__card{
    max-width: 100%;
    flex-direction: row;
  }

  .card__number{
    max-width: 40px;
    width: 100%;
    height: 40px;
    margin-right: 20px;
  }

  .loan__card__description{
    width: 100%;
    line-height: 120%;
  }


  .questions{
    padding: 40px 32px 0 36px;
    margin-bottom: 62px;
  }

  .footer__contacts{
    margin-right: 23px;
    padding-left: 4px;
  }

  .footer__contact {
    padding-left: 0;
  }

  .social__icons{
    margin-bottom: 21px;
  }

  .question__header{
    margin-bottom: 59px;
  }

  .support__button {
    border-radius: 3px;
    padding: 6px 19px;
    box-shadow: 0 4px 20px 0 rgba(0, 46, 69, 0.1);
    background: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #1c1d22;
}

  .question__footer{
    flex-direction: column;
  }

  .question__number{
    margin-bottom: 20px;
  }

  .gradient{
    font-size: 30px;
  }

  .logo__footer{
    margin-bottom: 32px;
  }

  .business__block{
    display: flex;
    flex-direction: column;
    max-width: 224px;
    gap: 0;
    margin-right: 70px;
  }

  .footer__block h5{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
  }

  .second__list{
    padding-top:0;
  }

  .footer__block a:not(:last-child){
    margin-bottom: 17px;
  } 

  .footer__block a{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }

  .business__list {
    margin-bottom: 19px;
  } 

  .footer__cards{
    padding: 41px 32px 0px 32px;
    margin-bottom: 42px;
  }

  .agreement {
      padding: 17px 20px 20px 35px;
      min-height: 0px;
  }

  .get__loan__card::before {
    content: '';
    position: absolute;
    top: 31px;
    left: 20px;
    bottom: -40px;
    right: auto;
    border-right: 1px dotted black;
    z-index: -1;
  }

  .investments__pic {
    background-size: contain;
    width: 607px;
    height: 665px;
    bottom: -200px;
    right: -146px;
  }

  .loan{
    max-width: 286px;
    position: absolute;
    right: 0;
  }

  .requirements__card__header{
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }

  .requirements__card__description{
    width: 200px;
  }

  .procent__pic {
    background: url("svg/procent.png") no-repeat;
    height: 85px;
    width: 82px;
    background-size: contain;
    right: 8px;
    top: -234px;
  }

  .loan__program h4{
    max-width: 194px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 25px ;
  }

  .logos__description__loan{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }

  .ellipse {
    top: -111px;
    right: -96.5px;
  }

  .list__item{
    max-width: 100%;
  }

  .list__item h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }

  .right__logo{
  position: absolute;
  z-index: -1;
  left: 80px;
  }



  .msp__logos{
    margin-right: 20px;
    margin-bottom: 0;
  }

  .msp__bank {
    margin-bottom: 19px;
  }

  .msp__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }

  .small, .big{
    max-width: 100%;
  }

  .msp__about h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 6px;
  }

  .msp__about{
    padding-top: 8px;
  }

  .msc__about{
    padding-top: 19px;
  }

  .msc__about h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 6px;
  }

  .loan__number{
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
  }


  .menu__item.active::after{
    bottom: -27px;
  }

}

@media screen and (min-width:320px) and (max-width:767px){


  .requirements__card{
    padding: 24px 20px;
    height: 247px;
  }

  .requirements__cards h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 117%;
  }

  .requirements__cards{
    gap: 13px;
  }

  .selection__header h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 7px;
  }

  .status{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  .requirements__pics{
    width: 52px;
    height: 52px;
  }


  .application__button,
  .consultation__button {
    font-size: 14px;
  }

  .loan__description{
    width: 280px;
  }

  .credit__info h5 {
    margin-bottom: 4px;
  }

  .credits__info{
    font-size: 19px;
  }

  .header__nav-right ul{
    gap: 0;
  }

  .header__nav-left {
    padding-left: 0;
  }

  .header__nav-right{
    padding-right: 0;
  }

  .mobile__menu{
    display: block;
  }

  .plus{
    display: none;
  }

  .msp__logo{
    width: 35.5px;
  }

  span{
    display: inline;
  }

  .tablet{
    display: inline;
  }

  .mobile{
    display: block;
  }

  .slick-dots{
    gap: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
  }

  .slick-dots li{
    list-style: none;
  }

  .slick-dots button{
    font-size: 0;
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
  }

.slick-slider .slick-dots  li.slick-active button {
    width: 10px;
    height: 10px;
    background-color: #17FF01;
  }

  .requirements{
    margin-bottom: 29px;
    padding: 32px 20px 0 20px;
  }

  body h2{
    font-size: 20px;
  }

  body h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
  }

  header{
    margin-bottom: 0;
  }

  .header {
    padding: 8px 20px;
  }

  .main__nav{
    display: none;
  }

  .investments{
    padding: 37px 20px 40px 20px;
    margin-bottom: 0;
    border-radius: 0 0 30px 30px;
  }

  .investments__about{
    font-size: 14px;
    max-width: 281px;
    margin-bottom: 33px;
  }

  .credit__info{
    flex-direction: column;
    gap: 20px;
  }

  .investments__description{
    z-index: 1;
  }

  .investments__pic {
    background: url("svg/inv.svg") no-repeat;
    position: absolute;
    background-size: contain;
    width: 259px;
    height: 279px;
    bottom: 55px;
    right: -101px;
  }

  .investments__header{
    max-width: 282px;
    margin-bottom: 15px;
  }

  .credit__links{
    flex-direction: column;
  }

  .numbers{
    font-size: 30px;
  }

  .logo{
    background: url("svg/klasterlogo.svg") no-repeat;
    width: 34px;
    height: 22px;
    background-size: contain;
  }

  .mobile__menu__logo{
    width: 16px;
    height: 12px;
    display: flex;
  }

  .klaster{
    display: none;
  }

  .header__nav-left ul {
    display: none;
  }

  .header__nav-right li:not(:last-child){
    margin-right: 18px;
  }

  .mobile__menu{
    padding: 4px 2px  ;
  }

  .user__text{
    display: none;
  }

  .user__logo{
    padding-left: 0;
    width: 19px;
    height: 17px;
  }

  .header__nav-right{
    display: flex;
    align-items: center;
  }

  .preferential__loan{
    padding: 40px 20px 0 20px;
  }

  .more__about__loan{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 23px;
    line-height: 140%;
  }

  .logos{
    display: inline;
  }

  .msp__logo{
    width: 30.5px;
  }

  .corp__logo{
    width: 23px;
  }
  .right__logo{
    left: 0;
    top: 39px;
  }
  .msp__bank{
    flex-direction: row;
    margin-bottom: 20px;
    min-height: 85px;
  }

  .msp__logos{
    display: inline;
    position: relative;
    max-width: 46px;
    margin-bottom: 0;
  }

  .msp__background{
    height: 42px;
    width: 42px;
  }

  .logos__description{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    width: 156px;
  }

  .msk__gov{
    flex-direction: row;
  }

  .msk__logo{
    width: 19.78px;
  }

  .all__loan{
    margin-bottom: 40px;
  }

  .loan__program{
    width: 280px;
    position: inherit;
    padding: 30px 41px 32px 20px;
    top: 0;
  }

  .loan__about__procent{
    padding-top: 0;
    max-width: 219px;
  }

  .loan__procent {
    margin-right: 0;
    max-width: 144px;
  }


  .loan__program h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    margin-bottom: 20px;
    max-width: 194px;
  }

 .procent__pic {
    top: -38px;
    width: 102px;
    height: 107px;
    background-size: contain;
    right: 5px;
  }

  .number{
    margin-bottom: 3px;
  }

  .loan__footer{
    padding: 30px 20px;
  }

  .loan__footer h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 20px;
  }

  .loan__spending__logos{
    flex-direction: column;
    gap: 16px;

  }

  .circle{
    min-width: 60px;
    width: 60px;
    height: 60px;
    margin-right: 16px;
  }

  .logos__loan{
    width: 34.47px;
  }

  .preferential__loan{
    margin-bottom: 30px;
  }

  .loan__logos{
    justify-content: flex-start;
    gap: 0;
    margin-right: 0;
  }
  

  .startup{
    padding: 30px 20px 0 20px;
    margin-bottom: 36px;
  }



  .startup__description{

    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
  }

  .header__info{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 19px;
    line-height: 110%;
  }

  .description__info{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 34px;
  }

  .startup__icon{
    width: 60px;
    height: 60px  ;
  }

  .members{
    width: 42px;
    height: 42px;
  }

  .startup__addition{
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    align-items: normal;
    margin-bottom: 204px;
  }

  .klaster__button {
    width: 100%;
    font-size: 14px;
}

  .more__startup{
    padding: 30px 20px 0 20px;
    margin-bottom: 46px;
  }

  .cards{
    flex-direction: column;
    gap: 11px;
  }

  .card__description h4 {
    font-size: 18px;
  }

  .card{
    padding: 24px 20px 13px 20px;
    max-width: 100%;
  }

  .card__pic{
    width: 52px;
    margin-bottom: 16px;
  }

  .cards__header{
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 11px;
  }

  .small h4{
    margin-bottom: 16px;
    font-size: 18px;
  }

  .special{
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
  }

  .selection{
    padding-top: 20px;
  }

  .selection__header{
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .lom__wrapper {
    border: 1px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to bottom right, #16ff00, #4dffc9);
    border-radius: 70px;
    padding: 6px 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
  }

  .msc__klaster{
    padding: 27px 20px 26px 20px;
    border-radius: 30px;
    flex-direction: column;
    background: url(svg/klasterback.svg) no-repeat left -456px bottom -165px,
    #d8fddb;
    background-size: 1214px 847px;
    margin-bottom: 4px;
  }


  .header__text {
    max-width: 229px;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
  }

  .selection__number{
    max-width: 43px;
    width: 100%;
    height: 43px;
    font-weight: 500;
    font-size: 30px;
    margin-right: 10px;
  }

  .second__number{
    margin-right: 20px;
  }

  .msc__header{
    align-items: normal;
  }

  .msc__header,
  .msp__header{
    margin-bottom: 20px;
  }

  .msk__right{
    padding-top: 0;
  }

  .msc__pic {
    display: none;
  }

  .list__item{
    width: 100%;
    max-width: 767px;
    padding: 20px;
  }

  .list__item h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  .msp__klaster{
    flex-direction: column;
    padding: 30px 20px 25px 20px;
    align-items: flex-start;
    background: url(svg/mspback.svg) no-repeat left 171px bottom 105px;
    background-color: #bee7ff;
    background-size: 934px 465px;
  }



.startup__background {
    border-radius: 30px;
    padding: 30px 20px 35px 20px;
    background: url("svg/mobile.svg") no-repeat left calc(100% - -393px) top calc(100% - -236px),
      linear-gradient(22deg, #6260b7 0%, #9379cf 100%);
}


.numbers__loan{
  font-size: 30px;
}

  .msp__header h4{
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
  }

  .selection{
    margin-bottom: 20px;
  }

  .loan__section{
    padding: 30px 20px 0 20px;
    margin-bottom: 62px;
  }

  .question__header h4 ::before{
    content: "Секс";
  }

  .get__loan{
    flex-direction: column;
    gap: 14px;
  }

  .get__loan__card{
    flex-direction: row;
  }

  .get__loan__info h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 3px;
  }

  .loan__header{
    padding: 6.5px 0;
  }

  .card__number{
    min-width: 30px;
    height: 30px;  
    width: 30px;
    margin-right: 16px;
  }

  .loan{
    max-width: 280px;
  }

  .loan__card__description{
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
  }

  .get__loan__description{
    margin-bottom: 20px;
    line-height: 110%;
  }


  .get__loan__card::before {
    content: '';
    position: absolute;
    top: 31px;
    left: 15px;
    bottom: -40px;
    right: auto;
    border-right: 1px dotted black;
    z-index: -1;
  }

  .loan__number{
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
  }

  .questions__back{
    padding: 30px 20px 40px 20px;
    background: #383B4A url("svg/questionsback.svg") no-repeat right -300px bottom;
    background-size: cover;

  }

  .question__footer{
    flex-direction: column;
  }

  .gradient{
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
  }

  .question__header{
    margin-bottom: 22px;
  }

  .question__number{
    margin-right: 0;
  }

  .question__number h6,
  .question__mail h6{
        font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 2px;
  }

  .question__number div {
    margin-bottom: 10px;
  }

  .questions{
    margin-bottom: 60px;
  }

  .footer{
    padding-top: 36px;
    border-top: 1px solid #e2e2e5;;
  }

  .business__block,
  .footer__block{
    display: none;
  }


  .footer__cards{
    justify-content: center;
  }

  .footer__contacts{
    align-items: center;
    margin-right: 0;
  }

  .support__button{
    width: 280px;
  }

  .social__icons{
    display: flex;
    gap: 9px;
    margin-bottom: 20px;
  }

  .logo__footer{
    margin-bottom: 26px;
  }

  .footer__cards{
    margin-bottom: 38px;
  }

  .agreement{
    padding: 11px 19.5px 14px 19.5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
  }

  .slick-track{
    display: flex;
  }

  .footer__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts{
    font-size: 14px;
  }

  .mail__footer{
    margin-bottom: 15px;
  }

  .support__button{
    font-size: 14px;
  }

  .requirements__cards{
    min-width: 0;
  }

  .slick-list{
    overflow: hidden;
  }

  .container__flex{
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .loan__logos__first{
    display: flex;
    align-items: center;
    gap: 0;
  }

  .logos__description__loan{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }

  .msp__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .msp__about h5{
    font-size: 16px;
  }

  .msp__description{
    font-size: 14px;
  }

  .msc__back{
    margin-bottom: 0px;
  }

  .msp__bank{
    gap: 16px;
  }

  .msk__gov{
    gap: 19px;
  }
}

@media screen and (min-width: 991px) and (max-width:1024px) {

  .footer__contacts{
    margin-right: 0px;
  }

  .business__block{
    margin-right: 0px;
    gap: 8  0px;
  }

  .footer__cards{
    justify-content: space-between;
  }

  .card__number{
    height: 50px;
    width: 50px;
  }

  .get__loan__card::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    right: -40px;
    border-top: 1px dotted black;
    z-index: -1;
}

  .menu__item.active::after{
    bottom: -26px;
  }

  .plus{
    display: none;
  }

  .stages{
    width: 316px;
    font-size: 22px ;
  }

  .loan__card__description{
    font-size: 15px;
  }

  .loan__footer h3{
    margin-bottom: 10px;
  }

    .circle{
    max-width: 70px;
    height: 70px;
  }

  .logos__loan{
    width: 40px;
  }

    span{
    display: inline;
  }

  .tablet{
    display: inline;
  }

  .mobile{
    display: inline;
  }

  .lg{
    display: inline;
  }

  .landscape{
    display: block;
  }


  .header{
    padding: 15px;
  }

  .main__nav{
    padding: 15px 15px;
    white-space: nowrap;
    overflow-x: scroll;
  }

  .main__nav ul {
    max-width: 1200px;
    width: 100%;
    overflow: auto;
  }

  .main__nav nav{
    gap: 15px;
  }

  .investments{
    padding: 50px;
  }

  .credit__info{
    flex-direction: column;
    gap: 20px;
  }

  .investments__pic {
    background: url("svg/inv.svg") no-repeat;
    position: absolute;
    width: 567px;
    height: 500px;
    bottom: 0;
    right: -140px;
  }

  .preferential__loan{
    padding: 15px;
  }

  .loan{
    max-width: 370px;
  }

  .loan__program{
    padding: 20px;
    width: 320px;
  }

  .loan__about__procent{
    padding-top: 0;
    flex-direction: column;
    gap: 20px;
  }

  .loan__program h4 {
    margin-bottom: 20px;
    font-size: 18px;
    max-width: 200px;
  }

  .number,
  .logos__description{
    font-size: 16px;
  }

  .numbers__loan{
    font-size: 30px;
    margin-bottom: 5px;
  }

  .procent__pic{
    background-size: contain;
    width: 120px;
    height: 120px;
  }

  .preferential__loan{
    margin-bottom: 60px;
  }

  .startup{
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .header__info{
    font-size: 32px;
  }

  .startup__background{
    padding: 50px;
  }

  .startup__description{
    font-size: 30px;
  }

  .more__startup{
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .requirements{
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .selection{
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .selection__header h2{
    font-size: 30px;
  }

  .selection__header {
    align-items: center;
  }

  .list__item h5 {
    font-size: 16px;
  }

  .header__text{
    font-size: 20px;
  }

  .msp__header h4{
    font-size: 20px;
  }

  .msp__header{
    width: 300px;
  }

  .loan__section{
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .get__loan{
    gap: 20px;
  }

  .questions{
    padding: 0 15px;
  }

  .gradient{
    font-size: 30px;
  }

  .get__loan__info h4{
    margin-bottom: 10px;
  }

  .footer{
    padding: 0 15px;
  }

  .startup__background {
    background: url("svg/loanpic.svg") no-repeat right -300px bottom -450px,
  linear-gradient(22deg, #6260b7 0%, #9379cf 100%);
    background-size: 1000px 1000px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1240px) {

  .menu__item.active::after{
    bottom: -31px;
  }

  .plus{
    display: none;
  }

  .loan__footer h3{
    margin-bottom: 15px;
  }

  .card__number {
    border-radius: 100%;
    background: #16ff00;
    width: 40px;
    height: 40px;
    display: flex;
    margin-bottom: 19px;
  }

  .get__loan__card::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    right: -40px;
    border-top: 1px dotted black;
    z-index: -1;
  }

  .loan__number{
    font-size: 24px;
  }

  .circle{
    min-width: 70px;
    height: 70px;
  }

  .footer__cards{
    justify-content: space-between;
  }

  .business__block{
    margin-right: 0;
    gap: 100px;
  }

  .footer__contacts{
    margin-right: 0;
  }

  .loan__spending__logos{
    gap: 50px;
  }

  .loan__card__description{
    font-size: 15px;
  }

  .logos__loan{
    width: 40px;
  }

  .gradient{
    font-size: 30px;
  }

  .msp__header h4{
    width: 198px;
  }

  .stages{
    width: 100%;
    max-width: 234px;
    font-size: 20px;
  }

  span{
    display: inline;
  }

  .tablet{
    display: inline;
  }

  .mobile{
    display: inline;
  }

  .lg{
    display: block;
  }

  .header{
    padding: 20px;
  }

  .loan__procent{
    margin-right: 0;
  }

  .main__nav{
    padding: 15px 20px;
    white-space: nowrap;
  }

  .main__nav ul{
    overflow-x: scroll;
  }

  .investments{
    padding: 50px;
  }

  .main__nav nav {
    gap: 10px;
    align-items: center;
  }

  .search__icon{
    width: 16px;
  }

  .investments__pic{
    width: 428px;
  }

  .credit__info{
    flex-direction: column;
    gap: 20px;
  }

  .loan__program {
    max-width: 390px;
  }

  .all__loan{
    margin-right: 20px;
  }

  .logos{
    gap: 40px;
    justify-content: normal;
  }

  .startup{
    padding: 0 20px;
  }

  .loan__about__procent{
    width: 350px;
  }

  .procent__pic {
    background: url("svg/procent.png") no-repeat;
    height: 121px;
    width: 121px;
    background-size: contain;
  }

  .selection{
    margin-bottom: 60px;
  }

  .more__startup,
  .requirements,
  .selection,
  .preferential__loan,
  .loan__section,
  .questions,
  .footer{
    padding: 0 20px;
  }

  .get__loan{
    gap: 20px;
  }

  .startup__background {
    background: url("svg/loanpic.svg") no-repeat right -400px bottom -600px,
  linear-gradient(22deg, #6260b7 0%, #9379cf 100%);
    background-size: 1200px 1200px;
  }

  .msc__klaster {
    background: url("svg/klasterback.svg") no-repeat right -325px bottom;
    background-color: #D8FDDC;
    background-size: cover;
  }

  .msp__klaster {
    background: url("svg/mspback.svg") no-repeat right -325px bottom;
    background-color: #bee7ff;
  }
}

@media screen and (min-width: 1241px) and (max-width: 1399px) {

  .header__info{
    padding: 0 20px ;
  }

  .menu__item.active::after{
    bottom: -11px;
  }

  .startup__header{
    padding: 0;
  }

  .plus{
    display: none;
  }

  .investments__pic {
    width: 515px;
  }

  .main__nav{
    padding: 16px 20px;
  }

  .header,
  .more__startup,
  .requirements,
  .selection,
  .preferential__loan,
  .loan__section,
  .questions,
  .footer{
    padding: 0 20px;
  }
}
